<div class="container text-center mt-3">
    <div class="jumbotron rounded">
        <h1 class="display-1">think<span class="text-success">budget</span></h1>
        <h3>think <span class="text-success">money</span>.</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <h2 class="card-header">Import Transactions</h2>
                <p class="card-body">Create csv parsing profiles to easily import transactions from your financial institutions.</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <h2 class="card-header">Make Budgets</h2>
                <p class="card-body">Create monthly budgeting goals to keep your spending in line.</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <h2 class="card-header">Save Money</h2>
                <p class="card-body">As you meet your budgeting goals you can watch your account balance grow.</p>
            </div>
        </div>
    </div>
</div>