<!-- add transaction card -->
<div class="card shadow">
    <div class="card-header">
        <h1 class="text-success">Add Transaction</h1>
    </div>
    <div class="card-body">
        Here is where you add the transaction.
        <!-- transaction form (date, amount, category) -->
        <form [formGroup]="transactionForm" (ngSubmit)="transactionSubmit()">
            <div class="form-row">
                <!-- date -->
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" formControlName="transactionDate">
                    </div>
                </div>
                <!-- amount -->
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" class="form-control" formControlName="transactionAmount">
                    </div>
                </div>
                <!-- category -->
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" formControlName="transactionCategory">
                            <option value="">Choose a category</option>
                            <option *ngFor="let category of knownCategories">{{ category.categoryName }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
<hr class="my-3">
<!-- Transaction History Card -->
<div class="card shadow">
    <div class="card-header">
        <h1 class="text-success">Transaction History</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of pastTransactions">
                <td class="align-middle">{{ transaction.transactionDate | date }}</td>
                <td class="align-middle">{{ transaction.transactionAmount | currency }}</td>
                <td class="align-middle">{{ transaction.transactionCategory }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>