<div class="card shadow">
    <div class="card-header">
        <h2 class="text-success">Add a Category</h2>
    </div>
    <div class="card-body">
        <div class="alert alert-success" *ngIf="message && message.success === true">
            {{ message.msg }}
        </div>
        <div class="alert alert-danger" *ngIf="message && message.success === false">
            {{ message.msg }}
        </div>
        <div class="row">
            <div class="col-8">
                <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                    <div class="form-row form-group">
                        <div class="col">
                            <label>Category Type</label>
                            <select formControlName="catType" class="form-control">
                                <option *ngFor="let type of types">{{ type }}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Category Name</label>
                            <div class="input-group">
                                <input type="text" formControlName="catName" class="form-control" placeholder="Groceries...">
                                <div class="input-group-append">
                                    <button class="btn btn-warning" type="button" (click)="checkCatName()">Check Availability</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save Category</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- category information panel -->
            <div class="col-4">

            </div>
        </div>
    </div>
</div>

