<div *ngIf="alertMessage">
    <div class="alert alert-info">
        <h3 class="alert-heading">How to add a budget category</h3>
        <ol>
            <li>Choose a month for the budget</li>
            <li>Choose a year for the budget</li>
            <li>Choose a category</li>
            <li>Choose an amount for that category</li>
            <li>Refresh the Budget Display to see changes made</li>
        </ol>
    </div>
</div>
<div class="card shadow" *ngIf="categories">
    <div class="card-header d-flex">
        <div><h2 class="text-success">Build A Budget</h2></div>
        <div class="ml-auto">
            <button class="btn btn-success mr-3" (click)="displayHelp()">
                <svg class="bi" width="32" height="32" fill="currentColor"><use xlink:href="assets/bootstrap-icons.svg#info-circle"/></svg>
            </button>
            <button class="btn btn-success" (click)="refresh()">
                <svg class="bi" width="32" height="32" fill="currentColor"><use xlink:href="assets/bootstrap-icons.svg#arrow-repeat"/></svg>
            </button>
        </div>
        
    </div>
    <div class="card-body">
        <div class="alert alert-success" *ngIf="message && message.success === true">
            {{ message.msg }}
        </div>
        <div class="alert alert-danger" *ngIf="message && message.success === false">
            {{ message.msg }}
        </div>
        <div *ngIf="noCategories; else catList" class="alert alert-warning">
            You dont have any categories set up, you can make them above.
        </div>
        <ng-template #catList>
            <div class="row">
                <!-- Budget Form -->
                <div class="col-6">
                    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-6">
                                    <select formControlName="month" class="form-control">
                                        <option *ngFor="let month of months">{{ month }}</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <input type="text" formControlName="year" class="form-control" placeholder="YYYY">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <select formControlName="catName" class="form-control">
                                        <option value="">Choose a Category</option>
                                        <option *ngFor="let cat of categories">{{ cat.catName }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="number" formControlName="amount" class="form-control" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Add to Budget</button>
                        </div>
                    </form>
                </div>

                <!-- Small Budget to Display Current Values -->
                <div class="col">
                    <div *ngIf="monthValue !== '' && yearValue !== ''">
                        <div class="card">
                            <div class="card-header text-center text-success d-flex">
                                <h4>{{ months[monthValueNotFormatted] }} of {{ yearValue }}'s Budget</h4>
                                <div class="ml-auto">
                                    <button class="btn btn-success" (click)="refreshBudgetDisplay()">
                                        <svg class="bi" width="24" height="24" fill="currentColor"><use xlink:href="assets/bootstrap-icons.svg#arrow-repeat"/></svg>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div *ngIf="noBudgets; else budgetTable">
                                    <div class="alert alert-warning">
                                        You have no budgets set up for the given time frame. You can set them with the form on the left.
                                    </div>
                                </div>
                                <ng-template #budgetTable>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Category Name</th>
                                                <th scope="col">Budgetted Amount</th>
                                                <th scope="col">Delete-WIP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let category of budgets">
                                                <td *ngIf="category.categoryName.includes('Monthly')">{{ category.categoryName }}</td>
                                                <td *ngIf="category.categoryName.includes('Monthly')">{{ category.amount | currency }}</td>
                                                <td *ngIf="category.categoryName.includes('Monthly')"><button class="btn btn-danger" (click)="refresh()">
                                                    <svg class="bi" width="16" height="16" fill=""><use xlink:href="assets/bootstrap-icons.svg#trash"/></svg>
                                                </button></td>
                                            </tr>
                                            <tr *ngFor="let category of budgets">
                                                <td *ngIf="category.categoryName.includes('Weekly')">{{ category.categoryName }}</td>
                                                <td *ngIf="category.categoryName.includes('Weekly')">{{ category.amount | currency }}</td>
                                                <td *ngIf="category.categoryName.includes('Weekly')"><button class="btn btn-danger" (click)="refresh()">
                                                    <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="assets/bootstrap-icons.svg#trash"/></svg>
                                                </button></td>
                                            </tr>
                                            <tr *ngFor="let category of budgets">
                                                <td *ngIf="category.categoryName.includes('Daily')">{{ category.categoryName }}</td>
                                                <td *ngIf="category.categoryName.includes('Daily')">{{ category.amount | currency }}</td>
                                                <td *ngIf="category.categoryName.includes('Daily')"><button class="btn btn-danger" (click)="refresh()">
                                                    <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="assets/bootstrap-icons.svg#trash"/></svg>
                                                </button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
