<div class="card shadow">
    <div class="card-header d-flex">
        <h2 class="text-success">Add a transaction</h2>
        <div class="ml-auto">
            <button class="btn btn-success mr-3" (click)="displayHelp()">
                <svg class="bi" width="32" height="32" fill="currentColor"><use xlink:href="assets/bootstrap-icons.svg#info-circle"/></svg>
            </button>
        </div>
    </div>
    
    <div class="card-body">
        <div class="alert alert-success" *ngIf="message && message.success === true">
            {{ message.msg }}
        </div>
        <div class="alert alert-danger" *ngIf="message && message.success === false">
            {{ message.msg }}
        </div>
        <div *ngIf="noCategories; else transForm" class="alert alert-warning">
            You dont have any categories set up, you can make them <a routerLink="/budget-tools" class="alert-link">here.</a>
        </div>
        <ng-template #transForm>
            <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="col-3 form-group">
                        <input formControlName="date" type="text" class="form-control" placeholder="{{today | date:'d/M/y'}}">
                    </div>
                    <div class="col-3 form-group">
                        <input formControlName="amount" type="number" class="form-control" placeholder="0.00">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 form-group">
                        <select formControlName="category" class="form-control">
                            <option value="">Choose a Category</option>
                            <option *ngFor="let category of categories">{{ category.catName }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 form-group">
                        <button class="btn btn-success" type="submit">Add transaction</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </div>
</div>
