<div class="card shadow">
  <div class="card-header">
    <h1 class="text-success">Monthly Budget Creator</h1>
  </div>
  <div class="card-body">
    <!-- Help text -->
    <div *ngIf="message">
      <div class="alert alert-success" *ngIf="message.success">
        {{ message.msg }}
      </div>
      <div class="alert alert-danger" *ngIf="!message.success">
        {{ message.msg }}
      </div>
    </div>
    <div class="row">
      <!-- Form -->
      <div class="col-sm-12 col-md-6">
        <h5>Use a known category</h5>
        <!-- Use known categories -->
        <form [formGroup]="knownCategoryForm" (ngSubmit)="addKnownCategory()">
          <div class="form-row">
            <!-- Category Name Drop Down -->
            <div class="col-5">
              <select class="form-control" formControlName="categoryName" [ngClass]="{ 'is-invalid': isInvalidKnownCategory('categoryName') }">
                <option *ngFor="let category of knownCategories">{{ category }}</option>
              </select>
              <span class="invalid-feedback" *ngIf="knownCategoryForm.get('categoryAmount').errors">
                Required.
              </span>
            </div>
            <!-- Category Amount -->
            <div class="col-3">
              <input type="number" class="form-control" formControlName="categoryAmount" placeholder="0.00" [ngClass]="{ 'is-invalid': isInvalidKnownCategory('categoryAmount') }">
              <span class="invalid-feedback" *ngIf="knownCategoryForm.get('categoryAmount').errors">
                Required.
              </span>
            </div>
            <!-- Submit Button -->
            <div class="col-sm-12 mt-sm-3 col-md-4 mt-md-0">
              <button type="submit" class="btn btn-success" [disabled]="!knownCategoryForm.valid">Add Category</button>
            </div>
          </div>
        </form>
        <hr class="my-3">
        <h5>Create your own category</h5>
        
        <!-- Add a new category -->
        <form [formGroup]="customCategoryForm" (ngSubmit)="addCustomCategory()">
          <div class="form-row">
            <div class="col-5">
              <input type="text" class="form-control" id="categoryName" placeholder="Groceries" formControlName="categoryName"
              [ngClass]="{ 'is-invalid': isInvalidCategory('categoryName') }">
              <span class="invalid-feedback" *ngIf="customCategoryForm.get('categoryName').errors?.notUnique">
                Must be unique.
              </span>
              <span class="invalid-feedback" *ngIf="customCategoryForm.get('categoryName').errors?.required">
                Required.
              </span>
            </div>
            <div class="col-3">
              <input type="number" class="form-control" id="categoryAmount" formControlName="categoryAmount"
              [ngClass]="{ 'is-invalid': isInvalidCategory('categoryAmount') }" placeholder="0.00">
              <span class="invalid-feedback" *ngIf="customCategoryForm.get('categoryAmount').errors">
                Required.
              </span>
            </div>
            <div class="col-sm-12 mt-sm-3 col-md-4 mt-md-0">
              <button type="submit" class="btn btn-success" [disabled]="!customCategoryForm.valid">Add Category</button>
            </div>
          </div>
        </form>
      </div>


      <!-- Current Budget Display -->
      <div class="col mt-3" *ngIf="categories && categories.length !== 0; else helpMessage">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h4 class="text-success">Your Budget's Categories </h4>
            <button type="button" class="btn btn-success" (click)="updateBudget()">Save / Update</button>
          </div>
          <div class="card-body">
            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Category Name</th>
                  <th>Budgeted Amount</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories">
                  <td>{{ category.categoryName }}</td>
                  <td>{{ category.categoryAmount | currency }}</td>
                  <td><button type="button" class="btn btn-danger" (click)="removeCategory(category.categoryName)">Remove</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-template #helpMessage>
        <div class="col mt-3">
          <div class="alert alert-warning">
            Fill out the budget form and a visual of it will display here.
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>